.env
.env_prod
.AppleDouble
.DS_Store
._*
.project
.settings
.vagrant*
apacs/vendor*
vendor
apacs/config/config.php
apacs/tests/coverage
xdebug.log
node_modules*
apacs/lib/config/config.php
mysql.log
apacs/app/exceptions.log
old_server_setups


# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

.elasticbeanstalk/config.yml
apacs/public/api/incomming_create_or_update_units.log
apacs/public/api/incomming_update_collection.log
apacs/composer.lock
*.pyc
.env_dev
.vscode/
indexing/env.cfg
